

body, p, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #030A31;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
